<div class="width-control">
  <div class="row nav">
    <div class="col-md-4">
      <div class="top-logo">
        <svg width="132px" height="48px" viewBox="0 0 132 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-265.000000, -26.000000)">
                  <text id="Sheet.-Copy-2" font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="24" font-weight="bold" letter-spacing="0.676190019" fill="#3F3F3F">
                      <tspan x="322" y="57">Sheet.</tspan>
                  </text>
                  <rect id="Rectangle-3-Copy-6" fill-opacity="0.569999993" fill="#50E3C2" x="265" y="34" width="29.6142372" height="39.3365854" rx="4"></rect>
                  <rect id="Rectangle-3-Copy-7" stroke="#DA77EE" stroke-width="3" x="274.5" y="27.5" width="26.6142372" height="36.3365854" rx="4"></rect>
              </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="col-md-8 nav-right text-right">
      <ul class="nav-list">
        <li class="nav-item">Features</li>
        <li class="nav-item">Pricing</li>
        <li class="nav-item">Blog</li>
      </ul>
    </div>
  </div>
  <div class="row hero">
    <div class="shapes-left">
    </div>
    <div class="shapes-right">
    </div>
    <div class="col-md-12 text-center">
      <h1>It's time to get your sheet together.</h1><br>
      <p>Get your resume done in a jiffy.</p>
      <div class="sign-up-button">
      Get Started
      </div>
    </div>
  </div>
  <div class="row resume-preview">
    <div class="col-md-12">
      <div class="resume-sample">
      </div>
    </div>
  </div>
  <div class="row features-section">
    <div class="col-md-12 text-center section-header">
      <h2 class="section-header-text">Features</h2>
    </div>
    <div class="col-md-6 text-left feature">
      <h3>Beautiful Templates</h3>
      <p>Keep your resume fresh with
exciting new designs arriving
frequently.</p>
    </div>
    <div class="col-md-6">
      <div class="feature-graphic">
        <svg width="211px" height="260px" viewBox="0 0 211 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="825" y="1684" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-2">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-3" x="855" y="1727" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-4">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-5" x="889" y="1766" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-6">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD-Copy" transform="translate(-798.000000, -1662.000000)">
                    <g id="Rectangle-2-Copy-3">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                    </g>
                    <g id="Rectangle-2-Copy-4">
                        <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                    </g>
                    <g id="Rectangle-2-Copy-5">
                        <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                    </g>
                    <text id="+" font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="40" font-weight="400" letter-spacing="0.676190019" fill="#3E85D7">
                        <tspan x="925" y="1838">+</tspan>
                    </text>
                </g>
            </g>
        </svg>
      </div>
    </div>
    <div class="col-md-6 text-left feature">
      <h3>Beautiful Templates</h3>
      <p>Keep your resume fresh with
exciting new designs arriving
frequently.</p>
    </div>
    <div class="col-md-6">
      <div class="feature-graphic">
        <svg width="211px" height="260px" viewBox="0 0 211 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="825" y="1684" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-2">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-3" x="855" y="1727" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-4">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-5" x="889" y="1766" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-6">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD-Copy" transform="translate(-798.000000, -1662.000000)">
                    <g id="Rectangle-2-Copy-3">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                    </g>
                    <g id="Rectangle-2-Copy-4">
                        <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                    </g>
                    <g id="Rectangle-2-Copy-5">
                        <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                    </g>
                    <text id="+" font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="40" font-weight="400" letter-spacing="0.676190019" fill="#3E85D7">
                        <tspan x="925" y="1838">+</tspan>
                    </text>
                </g>
            </g>
        </svg>
      </div>
    </div>
    <div class="col-md-6 text-left feature">
      <h3>Beautiful Templates</h3>
      <p>Keep your resume fresh with
exciting new designs arriving
frequently.</p>
    </div>
    <div class="col-md-6">
      <div class="feature-graphic">
        <svg width="211px" height="260px" viewBox="0 0 211 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="825" y="1684" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-2">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-3" x="855" y="1727" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-4">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-5" x="889" y="1766" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-6">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD-Copy" transform="translate(-798.000000, -1662.000000)">
                    <g id="Rectangle-2-Copy-3">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                    </g>
                    <g id="Rectangle-2-Copy-4">
                        <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                    </g>
                    <g id="Rectangle-2-Copy-5">
                        <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                    </g>
                    <text id="+" font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="40" font-weight="400" letter-spacing="0.676190019" fill="#3E85D7">
                        <tspan x="925" y="1838">+</tspan>
                    </text>
                </g>
            </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="row pricing-section">
    <div class="col-md-12 text-center section-header">
      <h2 class="section-header-text">Pricing</h2>
    </div>
    <div class="col-md-6 text-left feature">
      <h3>Beautiful Templates</h3>
      <p>Keep your resume fresh with
exciting new designs arriving
frequently.</p>
    </div>
    <div class="col-md-6">
      <div class="feature-graphic">
        <svg width="211px" height="260px" viewBox="0 0 211 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="825" y="1684" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-2">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-3" x="855" y="1727" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-4">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
                <rect id="path-5" x="889" y="1766" width="93" height="124" rx="8"></rect>
                <filter x="-46.2%" y="-30.6%" width="192.5%" height="169.4%" filterUnits="objectBoundingBox" id="filter-6">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="5" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="13" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD-Copy" transform="translate(-798.000000, -1662.000000)">
                    <g id="Rectangle-2-Copy-3">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                    </g>
                    <g id="Rectangle-2-Copy-4">
                        <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                    </g>
                    <g id="Rectangle-2-Copy-5">
                        <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                    </g>
                    <text id="+" font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="40" font-weight="400" letter-spacing="0.676190019" fill="#3E85D7">
                        <tspan x="925" y="1838">+</tspan>
                    </text>
                </g>
            </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-12">
      <div class="footer-logo">
        <svg width="132px" height="48px" viewBox="0 0 132 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-265.000000, -26.000000)">
                  <text id="Sheet.-Copy-2" font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="24" font-weight="bold" letter-spacing="0.676190019" fill="#3F3F3F">
                      <tspan x="322" y="57">Sheet.</tspan>
                  </text>
                  <rect id="Rectangle-3-Copy-6" fill-opacity="0.569999993" fill="#50E3C2" x="265" y="34" width="29.6142372" height="39.3365854" rx="4"></rect>
                  <rect id="Rectangle-3-Copy-7" stroke="#DA77EE" stroke-width="3" x="274.5" y="27.5" width="26.6142372" height="36.3365854" rx="4"></rect>
              </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="col-md-12 footer-links">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">Terms & Conditions</li>
        <li class="footer-nav-item">Get in touch</li>
      </ul>
    </div>
  </div>
  <!-- <%= link_to "Sign Up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path  %> -->
</div>
